server:
  port: 0
  
spring:
  application:
    name: file-service  
  cloud:
    0gateway:
      globalcors:
        add-to-simple-url-handler-mapping: true
        cors-configurations:
          '[/**]':
            allowedOrigins: "http://localhost:3000" # 3000번 포트 받음
            allowedHeaders: '*' # 넘어오는 header 전체 다 받겠음
            allow-credentials: true
            allowedMethods: POST, GET, PUT, DELETE     
       
  jpa:
    hibernate:
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
      ddl-auto: update
    show-sql: true
    generate-ddl: true
        

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/usinsa?serverTimezone=Asia/Seoul&characterEncoding=utf-8
    username: tj705
    password: tj705

      
eureka:
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}
  client:
    register-with-eureka: true # 유레가 서버에 등록
    fetch-registry: true # 주기적으로 다른 인스턴스의 데이터를 받아와 갱신
    service-url:
      defaultZone: http://localhost:8761/eureka 

      
management:
  endpoints:
    web:
      exposure:
        include: refresh, health, beans, busrefresh